@page "/about"

<h1>VhDevblog</h1>
<p>Hosted on <MudLink Href="https://www.binarylane.com.au/">BinaryLane</MudLink></p>
<p>Source: <MudLink Href="https://github.com/davishoang96/BasementBlog">BasementBlog</MudLink></p>
<p>Developed by: <MudLink Href="https://www.linkedin.com/in/viet-hoang-b30015124/">Davis Hoang</MudLink></p>

