@page "/posts"
@using Blog.DTO
@using Blog.Services
@using Blog.ViewModels;
@inject IApiClient ApiClient;
@attribute [StreamRendering]
<h3>Posts</h3>

<PageTitle>Posts</PageTitle>

@if(BlogPosts.Any())
{
    <div class="home-container">
        @foreach (var category in Categoroies)
        {
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12" class="mb-4">
                <h6>@category.Name</h6>
                <ul>
                    @foreach (var post in category.PostDTOs)
                    {
                        <li>
                            <MudLink OnClick="() => ViewPost(post.Id)">@post.Title</MudLink>
                        </li>
                    }
                </ul>
            </MudItem>
        }

        <MudItem xs="12" sm="12" md="12" lg="12" xl="12" class="mb-4">
            <h6>Unclassified Posts</h6>
            @foreach (var post in BlogPosts)
            {
                <div>
                    <MudLink OnClick="() => ViewPost(post.Id)">@post.Title</MudLink>
                </div>
            }
        </MudItem>
    </div>
}
else
{
    <MudText>Loading...</MudText>
}

<!-- Create post button -->
<AuthorizeView Roles="Admin">
    <Authorized>
        <MudItem xs="12" Class="floating-button">
            <MudFab Color="Color.Primary" Link="/postEditor" StartIcon="@Icons.Material.Filled.Create" />
        </MudItem>
    </Authorized>
</AuthorizeView>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private readonly NavigationManager navigationManager;

    public List<PostDTO> BlogPosts = new List<PostDTO>();

    public List<CategoryDTO> Categoroies = new List<CategoryDTO>();

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;
            var username = state?.User?.Identity?.Name ?? string.Empty;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetCategoriesWithPost();
        await GetUnclassifiedPosts();
    }

    public async Task GetUnclassifiedPosts()
    {
        var result = await ApiClient.GetUnclassifiedPostsAsync();
        if (result.Any())
        {
            BlogPosts = result.ToList();
        }
    }

    private async Task ExecuteDeletePostCommand(PostDTO postDTO)
    {
        //var result = await postService.DeletePost(postDTO.Id);
        //if (result)
        //{
        //    Posts.Remove(postDTO);
        //}
    }

    public async Task GetCategoriesWithPost()
    {
        var result = await ApiClient.GetCategoriesWithLightPostAsync();
        if (result?.Any() == true)
        {
            Categoroies = result.ToList();
        }
    }

    public void EditPost(string postId)
    {
        navigationManager.NavigateTo($"/postEditor/{postId}");
    }

    public void ViewPost(string postId)
    {
        navigationManager.NavigateTo($"/viewpost/{postId}");
    }
}
