@page "/resourceNotFound";

<div class="container">
    <div class="robot-container">
        <div class="robot">
            <div class="head">
                <div class="eyes">
                    <div class="eye left"></div>
                    <div class="eye right"></div>
                </div>
                <div class="antenna"></div>
            </div>
            <div class="body">
                <div class="arms">
                    <div class="arm left"></div>
                    <div class="arm right"></div>
                </div>
                <div class="legs">
                    <div class="leg left"></div>
                    <div class="leg right"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 30px">
    <h1>404 - Resource Not Found</h1>
    <p>Uh oh! Looks like our robot couldn't find what you're looking for.</p>
    <a href="/" class="back-link">Go back home</a>
</div>
