@page "/about"

<div class="home-container">
    <h1>VhDevblog</h1>
    <p>Hosted on BinaryLane</p>
    <p>Source: <MudLink Href="https://github.com/davishoang96/BasementBlog">BasementBlog</MudLink></p>
    <p>Developed by: Viet Hoang</p>
</div>

@code 
{

}
