@page "/dashboard"
@using BasementBlog.ViewModels;

<h3>Dashboard</h3>

@code {
    [Inject]
    private AdminDashboardViewModel vm { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await vm.GetUnclassifiedPosts();

        if (authenticationState is not null)
        {
            var state = await authenticationState;
            var username = state?.User?.Identity?.Name ?? string.Empty;
        }
    }
}
