@page "/"
@using BasementBlog.ViewModels

<PageTitle>Home</PageTitle>

<div class="home-container">

    <MudList Clickable="true">
        <MudText>
            Just your average everyday nerd, developer, motorcycle enthusiast, dog dad.

            The business side of this blog is mostly about SQL Server, PowerShell, programming tips and tools.

            I also like to post about my hobbies…motorcycles, rubiks cubes, dogs, nerdy home projects, archery and whatever else I seem to be obsessing over that month.

            Hope you enjoy what you’re reading here!
        </MudText>
        <MudSpacer />
        @foreach (var post in vm.Posts)
        {
            <div>
                <MudLink OnClick="() => vm.ViewPost(post.Id)">@post.Title</MudLink>
            </div>
        }
    </MudList>
</div>

@code
{
    [Inject]
    private HomeViewModel vm { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await vm.GetPosts();

        if (authenticationState is not null)
        {
            var state = await authenticationState;
            var username = state?.User?.Identity?.Name ?? string.Empty;
        }
    }
}
