@page "/viewPost/{postId:int}"

<MudContainer>
    <MudPaper Class="post-viewer" Padding="16px">
        <MudTypography Typo="Typo.h1">@PostTitle</MudTypography>
        <p><strong>Publish Date:</strong> @PublishDate</p>
        
        <MudDivider />

        <div class="post-body">
            <MudTypography Typo="Typo.body1">@((MarkupString)PostBody)</MudTypography>
        </div>
    </MudPaper>
</MudContainer>
